# start line with # or ; to comment
; row.strip() == '' also skips

https://pornolab.net/forum/tracker.php?o=1&s=2&tm=-1&nm=2014&f=1768
https://pornolab.net/forum/tracker.php?o=1&s=2&tm=-1&nm=2014%202015&f=1111,508,555,1845,1673